/* reset margin padding */
body{
    /* important manh nhat de len tat ca cac thuoc tinh khac */
    margin: 0 !important;
    padding: 0 !important;
}
.red{
    border: 1px solid red;
}
.green{
    border: 1px solid green;
}
.banner{
    height: 500px;
    background: url('./banner.jpg') center center no-repeat;
    padding: 20px;
}
.about-sign-in{
    height: 80px;
    /* 100% bi tao ra thanh cuon ngang */
    width: 100%;
    /* text-align: right; */
    text-align: right;
}
.about, .sign-in{
    /* ko gach chan */
    text-decoration: none;
    /* nhay sang phai */
    /* float: right; */
    
    /* padding: 20px; */
    /* margin-right: 20px; */
    margin-top: 20px;
    display: inline-block;
    padding: 7px 15px;
    /* float: right; */
    /* chu in */
    text-transform: uppercase;
}

.sign-in{
    margin-right: 60px;
    margin-left: 25px;
    border: 1px solid green;
    border-radius: 20px;
}